name: Update modules in branch

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *" # Every 12 hours

jobs:
  run:
    runs-on: ubuntu-24.04

    steps:
      - name: setup apt and sources
        run: |
          sudo dpkg --add-architecture i386
          sudo mkdir -pm755 /etc/apt/keyrings
          wget -O - https://dl.winehq.org/wine-builds/winehq.key | sudo gpg --dearmor -o /etc/apt/keyrings/winehq-archive.key -
          sudo wget -NP /etc/apt/sources.list.d/ https://dl.winehq.org/wine-builds/ubuntu/dists/noble/winehq-noble.sources

      - uses: vegardit/fast-apt-mirror.sh@v1
        with:
          healthchecks: 84
          country: US

      - uses: actions/checkout@v6
        with:
          ref: main
          path: main

      - uses: actions/checkout@v6
        with:
          ref: modules
          path: modules

      - uses: oven-sh/setup-bun@v2

      - name: install wine
        run: |
          sudo apt install --install-recommends winehq-stable

      - name: extract modules
        run: |
          cd main
          bun install
          bun src/index.ts
          cd ..

          rm -rf ./modules/*.js
          mv ./main/modules/*.js ./modules

          rm -rf ./modules/unused
          mv ./main/modules/unused ./modules

      - name: push
        run: |
          cd modules

          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A

          if ! git diff --cached --quiet; then
            git commit -m "ci: v$(cat ../main/version)"
            git push -u origin modules --force
          else
            echo "no changes!"
          fi
